<html>

<head>
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<meta name="google-signin-client_id" content="XXXXXXXXXXXXXXX.apps.googleusercontent.com">
	<title>:: APP BASICÃO ::</title>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="/static/js/facebook.js"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js"></script>
	<script src="/static/js/googlelogin.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" async defer></script>

	<script src="/static/js/application.js"></script>
	<script src="/static/js/form.js"></script>
	<script src="/static/js/map.js"></script>
	<style>
		@import url("/static/css/main.css");
	</style>
</head>

<body>
	<div class="background">
		<section id="header">
			<nav>
				<div class="nav-wrapper">
					<a href="#" data-target="mobile-demo" class="sidenav-trigger">
						<div class="NavbarToggle">
							<div class="ToggleOne"></div>
							<div class="ToggleTwo"></div>
							<div class="ToggleThree"></div>
						</div>
					</a>
				</div>
			</nav>
			<ul class="sidenav" id="mobile-demo">
